<!--COMPONENTE NO USADO-->
<div class="col">
  <h2 class="col">MENU</h2>

  <hr />

  <!-- routerLinkActive se aplicará solo cuando la URL coincida exactamente con el enlace proporcionado en routerLink.-->

  <ul class="col list-group">
    <li
      class="list-group-item"
      routerLink="paises/nombre"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item"
    >
      Buscar por nombre
    </li>

    <li
      class="list-group-item"
      routerLink="paises/region"
      routerLinkActive="active"
      class="list-group-item"
    >
      Buscar por región
    </li>

    <li
      class="list-group-item"
      routerLink="paises/subregion"
      routerLinkActive="active"
      class="list-group-item"
    >
      Buscar por subregión
    </li>
  </ul>
</div>
