<h2>MENU</h2>

<hr>

<ul class="list-group">
    <li class="list-group-item" 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        Buscar por nombre
    </li>
    
    <li class="list-group-item" 
        routerLink="region"
        routerLinkActive="active"
        class="list-group-item">
        Buscar por region
    </li>
    
    <li class="list-group-item" 
        routerLink="subregion"
        routerLinkActive="active"
        class="list-group-item">
        Buscar por subregion
    </li>
</ul>
