<!-- Encabezado de nivel 1 con clases de estilo y alineación -->
<h1 class="row mt-3" fxLayoutAlign="center">
  {{ nombrePais | uppercase }}
</h1>

<!-- Componente de barra de búsqueda personalizado -->
<app-barra-busqueda
  (onEnter)="buscarPorNombre($event)"
  (onDebounce)="obtenerSugerencias($event)"
  placeholder="Escriba el nombre de un país..."
>
</app-barra-busqueda>

<div class="mx-auto p-2" style="width: 200px" *ngIf="mostrarSugerencias">
  <!-- Lista de sugerencias de países -->
  <span matListItemTitle>Sugerencias</span>
  <mat-list role="list">
    <!-- Elemento de la lista para realizar una búsqueda completa -->
    <mat-list-item role="listitem" (click)="buscarPorNombre(nombrePais)">
      <!-- Mensaje para realizar la búsqueda completa -->
      Buscar "{{ nombrePais }}"
    </mat-list-item>
    <mat-list-item
      role="listitem"
      *ngFor="let pais of paisesSugerencias"
      [routerLink]="['/paises', pais.cca2]"
    >
      <!-- Nombre común del país con enlace a la página de detalles del país -->
      {{ pais.name.common }}
    </mat-list-item>
  </mat-list>
</div>

<hr />

<!-- Componente de carga que se muestra mientras se realiza una solicitud -->
<div class="mb-3" fxLayoutAlign="center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<!-- Mensaje de error en caso de que no se encuentre ningún país con el término ingresado -->
<div fxLayoutAlign="center" *ngIf="hayError" class="alert alert-danger">
  {{ message }}
</div>

<!-- Tabla de países que se muestra si hay países cargados -->
<div *ngIf="paises.length > 0">
  <app-tabla-paises [paises]="paises"></app-tabla-paises>
</div>
