<div>
  <h2>BUSCAR POR REGION: {{ regionSeleccionada | uppercase }}</h2>

  <hr />

  <h6>SELECCIONE LA REGION</h6>
  <button
    *ngFor="let region of regiones"
    [class]="cambiarColorBoton(region)"
    (click)="seleccionarRegion(region)"
  >
    {{ region | titlecase }}
  </button>

  <hr />

  <!-- Componente de carga que se muestra mientras se realiza una solicitud -->
  <app-loading *ngIf="loading"></app-loading>

  <!-- Mensaje de error en caso de que no se puedan cargar los países -->
  <div *ngIf="hayError" class="alert alert-danger">
    No se han podido cargar los paises pertenecientes a esta region.
  </div>

  <!-- Tabla de países que se muestra si hay países cargados -->
  <div *ngIf="paises.length > 0">
    <app-tabla-paises [paises]="paises"></app-tabla-paises>
  </div>
</div>
