<mat-toolbar role="heading" color="primary">
  <button mat-icon-button routerLink="paises/">
    <mat-icon>home</mat-icon></button
  >APP PAISES

  <span class="example-spacer"></span>

  <button mat-flat-button color="primary" routerLink="paises/nombre">
    Buscar por nombre
  </button>

  <button mat-flat-button color="primary" routerLink="paises/region">
    Buscar por región
  </button>

  <button mat-flat-button color="primary" routerLink="paises/subregion">
    Buscar por subregión
  </button>
</mat-toolbar>
