<!-- Componente de paginación --><pagination-controls
  (pageChange)="page = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente"
></pagination-controls>

<!-- Contenedor principal utilizando Flex Layout de Angular -->
<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <!-- Iteración sobre la lista de países paginada -->
  <div
    class="animate__animated animate__fadeIn animate__slower mb-3"
    fxFlex="24"
    fxFlex.lg="24"
    fxFlex.sm="12"
    *ngFor="
      let pais of paises | paginate : { itemsPerPage: 6, currentPage: page }
    "
  >
    <!-- Directiva ngFor para iterar sobre los países paginados -->

    <!-- Tarjeta de Material Angular -->
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ pais.name.common }}</mat-card-title>
        <mat-card-subtitle>{{ pais.capital }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="pais.flags.png" />
        <p>
          <b>Population: </b>{{ pais.population | number }} <br />
          <b>Area: </b>{{ pais.area | number }} km² <br />
          <b>Region: </b>{{ pais.region }} <br />
          <b>Subregion: </b>{{ pais.subregion }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          [routerLink]="['/paises', pais.cca2]"
        >
          Ver más...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
